<h1> Listing articled </h1>

<p>
    <%= link_to 'New Article', new_article_path %>
</p>

<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
    </tr>

    <% @articles.each do |article| %>
        <tr>
            <td><%= article.title %></td>
            <td><%= article.text %></td>
        </tr>
    <% end %>
</table>
