// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: Helvetica, sans-serif;
$primary-color: #FCA205;

body{
    font-size:14px;
    font: $font-stack;
}

h1 {
    font-size: 50px;
    font-family: 'Lobster';
    color: $primary-color;
}

a:link, a:visited {
    color: $primary-color;
    text-decoration: none;
}
a:hover {
    color: #FFF;
    background: $primary-color;

}
table{
    border-collapse: collapse;
    width: 50%;
}
th {
    height: 50px;
    background-color:$primary-color;
    color: #fff;
}
td {
    padding: 15px;
    border: 1px solid $primary-color;
}