// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: Helvetica, sans-serif;
$primary-color: #FCA205;

body{
    font-size:14px;
    font: $font-stack;
}

h1 {
    font-size: 50px;
    font-family: 'Lobster';
    color: $primary-color;
}

a {
    color: $primary-color;
}